@model IEnumerable<MiniCursos.Models.Cursos>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6">
        <h2>
            Lista de Cursos
            <a class="btn btn-success" href="/Cursos/Create">
                Novo
            </a>
        </h2>
    </div>   
    <div  class="col-md-6">
        <h3 class="h3right">
            Total de cursos: @ViewBag.qtdCursos
        </h3>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Curso</th>
                <th>Habilidade</th>
                <th>Modalidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CURSOID</td>
                    <td>@item.CURSODESCRICAO</td>
                    <td>@item.CURSOCODHABILIDADE</td>
                    <td>@item.CURSOMODALIDADE</td>
                </tr>
            }
        </tbody>
    </table>
</div>


