@model IEnumerable<TdsAlmoxarifado.Models.PRODUTO>
@{
    ViewBag.Title = "index";
}

<div>
    <h2> Gestão de Produtos
        <a href="/Produto/Create">
            <button type="button" class="btn btn-success">Novo</button>
        </a>
    </h2>

</div>

<div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Minimo</th>
                <th scope="col">Maximo</th>
                <th scope="col">Em Estoque</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


            <tr>
                <th scope="row">@item.PROID</th>
                <td>@item.PRODESCRICAO</td>
                <td>@item.PROMINIMO</td>
                <td>@item.PROMAXIMO</td>
                <td>@item.PROESTOQUE</td>

                @if (item.PROESTOQUE < item.PROMINIMO)
                {
                    <td style="background-color:red;
                                    color:white;">
                        @item.PROESTOQUE
                    </td>
                }
                else
                {
                    <td>@item.PROESTOQUE</td>
                }

                <td>
                    <a href="/Produto/Edit?id=@item.PROID"> <button type="button" class="btn btn-success">Editar</button> </a>
                    <a href="/Produto/Details?id=@item.PROID"> <button type="button" class="btn btn-info">Exibir</button> </a>
                    <a href="/Produto/Delete?id=@item.PROID"> <button type="button" class="btn btn-danger">Excluir</button> </a>

                </td>
            </tr>
            }

        </tbody>
    </table>

</div>